* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    color: #5D5D7D;
}

header {
    position: absolute;
    margin: 24px 0 0 57px;
    
}

.conteiner {
    height: 100vh;
    width: 100vw;

}

.conteiner-right {
    display: inline-block;
    height: 100vh;
    width: 40%;
    position: absolute;
    background-color: rgba(93, 93, 125, 0.16);
    right: 0;
}


.conteiner-left {
    display: inline-block;
    width: 60%;
    margin-top: 300px ;
    padding-left: 136px;
}

img {
    position: relative;
    top: 25%;
    right: 130px;
}

.link {
    height: 41.12px;
    font-size: 28px;
    font-weight: 400;
    margin-right: 41px;
    cursor: pointer;
}

.link:nth-child(2) {
    opacity: 0.4;
}

.link:hover {
    opacity: 0.8;
}

h1 { 
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    width: 368px;
}

p {
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    width: 540px;
    margin: 15px 0;
    opacity: 0.6;
}

.started {
    width: 269px;
    height: 62px;
    background: #9499EA;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.started:hover {
    opacity: 0.8;
}

.started:active {
    opacity: 0.5;;
}

@media screen and (max-width: 1300px){
    .conteiner-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
        padding-bottom: 120px;
    }

    .conteiner-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        margin-top: 60px;
        padding: 40px;

    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 36px;
        line-height: 52px;
        margin: 58px 53px 0 54px;
        width: auto;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    .started  {
        margin: 0 auto;
        display: block;
    }

    
}